{% extends "tours/base.html" %}
{% block content %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим {{ from }}</h1>
    <p class="mb-4">Найдено {{ cnt }} туров, от {{ minprice }} до {{ maxprice }} и от {{ minnight }} ночей до {{ maxnight}} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for i in deptour%}
      <div class="col-4">
        <div class="card mb-4">
          <img src="{{ i.picture }}" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">{{ i.title }}</h2>
            <p class="card-text">{{ i.description }}</p>
            <a href="/tour/{{ i.numtour }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock content %}